backend/node_modules/
frontend/node_modules/
/node_modules/
frontend/dist/
backend/data/*.db*
backend/data/*.db-shm
backend/data/*.db-wal
backend/*.db
backend/*.db-shm
backend/*.db-wal
vpga2.db
data/
dist/
data/*.db
*.db-shm
*.db-wal
.DS_Store
